.container {
    width: 100%;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.copyright {
    width: 100%;
    text-align: center;
}

@media (min-width: 1024px) {
    .links {
        justify-content: space-between;
    }
}